<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>subidita de corte</title>
</head>
<body>
    <form action="formu.html" method="post"> 
        <div class="mb-3">
            <label class="form-label">Nombre del corte</label>
            <input type="text" name="nombre" class="form-control"  required>
        </div>

        <div class="mb-3">
            <label class="form-label">Precio del corte</label>
            <input type="number" name="precio" class="form-control"  required>
        </div>

        <button type="submit " id="btnGuardarCorte" name="action" value="guardar" class="btn btn-success">Guardar</button>

        </button>




    </form>
</body>
</html>